<div class='container'>

  <h2>Comics list</h2>

  <cart-button count='cart.length'></cart-button>
  <!-- <div>{{cart}}</div> -->
  <div class='comics'>
    
    <div class="card" style="width: 18rem;" ng-repeat="comic in comics">
      <a ng-href="#!/view2/detail/{{comic.id}}">
        <img class="card-img-top" ng-src="{{comic.image}}" alt="Card image cap">
      </a>
      <div class="card-body">
        <h5 class="card-title">{{comic.title}}</h5>
        <p class="card-text">{{comic.description | limitTo: limitText}}{{comic.description.length > limitText ? '...' : ''}}</p>
        <p class="card-price">{{comic.price | currency }}</p>
        <button ng-click='addItem(comic)' class="btn btn-primary">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>

  </div>

</div>